<footer class="et-l et-l--footer">
  <div class="et_builder_inner_content et_pb_gutters3">
    <div class="et_pb_section et_pb_section_0_tb_footer et_pb_with_background et_section_regular">
      <div class="et_pb_row et_pb_row_0_tb_footer">
        <div
          class="et_pb_column et_pb_column_4_4 et_pb_column_0_tb_footer et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div class="et_pb_module et_pb_code et_pb_code_0_tb_footer">
            <div class="et_pb_code_inner">
              <div
                id="mtphr-dnt-995"
                class="mtphr-dnt mtphr-dnt-995 mtphr-dnt-default mtphr-dnt-scroll mtphr-dnt-scroll-left"
              >
                <div class="mtphr-dnt-wrapper mtphr-dnt-clearfix">
                  <div class="mtphr-dnt-tick-container">
                    <div class="mtphr-dnt-tick-contents">
                      <div class="mtphr-dnt-tick mtphr-dnt-default-tick mtphr-dnt-clearfix">
                        Promotions: 10% Sibling discount | 10% NHS
                        discounts | 1 day free day care if you
                        recommend a friend | 10% off holiday club if
                        you book for a whole week for more details
                        visit us or send us an inquiry
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="et_pb_module et_pb_image et_pb_image_0_tb_footer">
            <span class="et_pb_image_wrap"
              ><img
                loading="lazy"
                decoding="async"
                width="1920"
                height="111"
                src="assets/images/07/Accredations-Final.png"
                alt=""
                title="Accredations-Final"
                srcset="
                  assets/images/07/Accredations-Final.png         1920w,
                  assets/images/07/Accredations-Final-1280x74.png 1280w,
                  assets/images/07/Accredations-Final-980x57.png   980w,
                  assets/images/07/Accredations-Final-480x28.png   480w
                "
                sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw"
                class="wp-image-881"
            /></span>
          </div>
          <div
            class="et_pb_module et_pb_text et_pb_text_0_tb_footer et_pb_text_align_left et_pb_bg_layout_light"
          >
            <div class="et_pb_text_inner">
              <p style="text-align: center">
                Copyright © 2020 Eminant Child Care All Rights
                Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
