<header id="main-header" data-height-onload="100">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
      <span class="logo_helper"></span>
      <a href="index.html">
        <img
          src="assets/images/06/Logo-Final.png"
          width="645"
          height="415"
          alt="Laugh &#039;n&#039; Learn"
          id="logo"
          data-height-percentage="86"
        />
      </a>
    </div>
    <div id="et-top-navigation" data-height="100" data-fixed-height="100">
      <nav id="top-menu-nav">

        <ul id="top-menu" class="nav">

          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Our Story</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/story.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
          </li>

          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Rooms</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/rooms.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="seddlings.html" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">The Seedlings Room</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/seedling.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">The Saplings Room</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Saplings.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">The Oaks Room</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Oaks.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">THe Nest</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/nest.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
            </ul>
          </li>

          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Curriculum</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/curriculum.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
          </li>

          <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="meals.html" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Meals</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/Meals-Final.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
          </li> -->

          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Policies</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/policies.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Our Fees</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/fees.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a href="#" class="menu-image-title-hide menu-image-not-hovered"
              ><span class="menu-image-title-hide menu-image-title">Book A Tour</span
              ><img
                width="200"
                height="55"
                src="assets/images/06/tour.png"
                class="menu-image menu-image-title-hide"
                alt=""
                decoding="async"
            /></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="contact-us.html" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">Where to Find Us</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Find-Us.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="free-funded-hours.html" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">Free Funded Hours</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Free-Funded-Hours.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="fees.html" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">Fees</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Fee.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="registeration.html" class="menu-image-title-hide menu-image-not-hovered"
                  ><span class="menu-image-title-hide menu-image-title">Registeration Pack</span
                  ><img
                    width="373"
                    height="59"
                    src="assets/images/06/Registeration-Pack.png"
                    class="menu-image menu-image-title-hide"
                    alt=""
                    decoding="async"
                /></a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div id="et_mobile_nav_menu">
        <div class="mobile_nav closed">
          <span class="select_page">Select Page</span>
          <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
        </div>
      </div>
    </div>
    <!-- #et-top-navigation -->
  </div>
  <!-- .container -->
</header>
