div.et_pb_section.et_pb_section_0 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%), url(../../images/06/Smily.png) !important
}

.et_pb_row_0 {
    background-color: #000000;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden
}

.et_pb_text_0.et_pb_text,
.et_pb_text_0 h1 {
    color: #ffffff !important
}

.et_pb_text_1,
.et_pb_text_0 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important
}

.et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header a {
    font-weight: 700;
    font-size: 20px;
    text-align: center
}

.et_pb_blurb_0.et_pb_blurb,
.et_pb_blurb_2.et_pb_blurb {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border-width: 2px;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 25px !important;
    margin-left: 0px !important
}

.et_pb_blurb_1.et_pb_blurb,
.et_pb_blurb_3.et_pb_blurb {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border-width: 2px;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important
}

.et_pb_row_2.et_pb_row {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px
}

.et_pb_section_1.et_pb_section {
    padding-top: 125px;
    background-color: #d7cb00 !important
}

.et_pb_section_1.section_has_divider.et_pb_bottom_divider .et_pb_bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIydnciIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMTI4MCA4NmMtMTkuOS0xNy4yMS00MC4wOC0zOS42OS03OS44OS0zOS42OS01Ny40OSAwLTU2LjkzIDQ2LjU5LTExNSA0Ni41OS01My42MSAwLTU5Ljc2LTM5LjYyLTExNS42LTM5LjYyQzkyMy43IDUzLjI3IDkyNC4yNiA4NyA4NTMuODkgODdjLTg5LjM1IDAtNzguNzQtODctMTg4LjItODdDNTU0IDAgNTQzLjk1IDEyMS44IDQyMy4zMiAxMjEuOGMtMTAwLjUyIDAtMTE3Ljg0LTU0Ljg4LTE5MS41Ni01NC44OC03Ny4wNiAwLTEwMCA0OC41Ny0xNTEuNzUgNDguNTctNDAgMC02MC0xMi4yMS04MC0yOS41MXY1NEgxMjgweiIvPjwvZz48L3N2Zz4=);
    background-size: 100% 2vw;
    bottom: 0;
    height: 2vw;
    z-index: 10;
    transform: scale(1, 1)
}

.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
    font-family: 'Fredoka One', display;
    font-size: 80px;
    line-height: 1.4em;
    text-shadow: 0em 0.1em 0.14em rgba(0, 0, 0, 0.12)
}

.et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_header_content_wrapper {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 1.8em
}

.et_pb_fullwidth_header.et_pb_fullwidth_header_0 {
    background-color: rgba(126, 190, 197, 0)
}

.et_pb_fullwidth_header_0 {
    padding-top: 0vw;
    padding-bottom: 7vw
}

body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button {
    color: #d7cb00 !important;
    border-width: 12px !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: 'Fredoka One', display !important;
    text-transform: uppercase !important;
    background-color: #ffffff
}

body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover {
    letter-spacing: 4px !important;
    padding-right: 2em;
    padding-left: 0.7em
}

body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:hover,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:hover {
    padding: 0.3em 1em !important
}

body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:before,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:after,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:before,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button:after,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:before,
body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:after,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:before,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button:after {
    display: none !important
}

body #page-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button,
body .pum-container .et_pb_section .et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button {
    color: #d7cb00 !important;
    border-width: 12px !important;
    border-color: #ffffff;
    border-radius: 50px;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: 'Fredoka One', display !important;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    background-color: #ffffff
}

.et_pb_fullwidth_header_0 .et_pb_button_one {
    box-shadow: 0px 12px 48px -6px rgba(0, 0, 0, 0.3)
}

.et_pb_fullwidth_header_0 .et_pb_button_one.et_pb_button,
.et_pb_fullwidth_header_0 .et_pb_button_two.et_pb_button {
    transition: letter-spacing 300ms ease 0ms
}

.et_pb_fullwidth_header_0 .et_pb_fullwidth_header_container {
    width: 100%
}

.et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content {
    max-width: 650px
}

div.et_pb_section.et_pb_section_2 {
    background-image: url(../../images/06/Smily.png) !important
}

.et_pb_section_2.et_pb_section {
    padding-bottom: 25px
}

.et_pb_section_2,
.et_pb_row_3 {
    transition: border-radius 300ms ease 0ms
}

.et_pb_row_3,
body #page-container .et-db #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
.et_pb_row_3,
body .pum-container .et-db #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
.et_pb_row_3,
body #page-container .et-db .pum .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
.et_pb_row_3,
body .pum-container .et-db .pum .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_3.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_3.et_pb_row {
    width: 100%;
    max-width: 1820px
}

.et_pb_text_2.et_pb_text {
    color: #000000 !important
}

.et_pb_text_2 {
    font-weight: 700;
    font-size: 44px;
    padding-bottom: 24px !important;
    width: 100%;
    max-width: 1820px
}

.et_pb_text_2 h1 {
    font-size: 20px
}

.et_pb_text_2 h2 {
    font-family: 'Fredoka One', display;
    font-size: 60px;
    line-height: 1.2em
}

.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_12.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_0.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_6.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #791c7d !important
}

.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_7.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_1.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #00aeef !important
}

.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_2.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_8.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #bfd63a !important
}

.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_9.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_3.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #eb1b24 !important
}

.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_4.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_10.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #f8921b !important
}

.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_5.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_item.et_pb_accordion_item_11.et_pb_toggle.et_pb_toggle_open h6.et_pb_toggle_title {
    color: #ea008c !important
}

.et_pb_accordion_item_6.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_6.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_6.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_6.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_6.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_6.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_12.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_0.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #791c7d !important
}

.et_pb_accordion_item_7.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_7.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_7.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_7.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_7.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_7.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_1.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #00aeef !important
}

.et_pb_accordion_item_2.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_2.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_2.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_2.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_2.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_2.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #bfd63a !important;
    text-align: left
}

.et_pb_accordion_item_3.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_3.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_3.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_3.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_3.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_3.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_9.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #eb1b24 !important
}

.et_pb_accordion_item_4.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_4.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_4.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_4.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_4.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_4.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_10.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #f8921b !important
}

.et_pb_accordion_item_11.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_11.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_11.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_11.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_11.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_11.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_5.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #ea008c !important
}

.et_pb_accordion_item_8.et_pb_toggle h5.et_pb_toggle_title,
.et_pb_accordion_item_8.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_accordion_item_8.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_accordion_item_8.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_accordion_item_8.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_accordion_item_8.et_pb_toggle h6.et_pb_toggle_title {
    font-weight: 700;
    font-size: 20px;
    color: #bfd63a !important
}

.et_pb_row_0.et_pb_row {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px
}

.et_pb_text_2.et_pb_module,
.et_pb_fullwidth_image_0.et_pb_module {
    margin-left: auto !important;
    margin-right: auto !important
}

@media only screen and (min-width:981px) {
    .et_pb_fullwidth_image_0 {
        max-width: 70%
    }
}

@media only screen and (max-width:980px) {
    .et_pb_fullwidth_image_0 {
        max-width: 80%
    }

    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
        font-size: 60px
    }

    .et_pb_text_2 h2 {
        font-size: 50px
    }
}

@media only screen and (max-width:767px) {

    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h2.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h3.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h4.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h5.et_pb_module_header,
    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h6.et_pb_module_header {
        font-size: 40px
    }

    .et_pb_fullwidth_header_0.et_pb_fullwidth_header .et_pb_header_content_wrapper {
        font-size: 16px
    }

    .et_pb_text_2 h2 {
        font-size: 30px
    }
}